<div class="container">
<% if !flash[:notice].blank? %>
   <div>
      <%= flash[:notice] %>
   </div>
<% end %>

<br>

<%= link_to "New File", datas_new_path %>
<br>
<br>

<table border="3">
   <thead>
      <tr>
         <th>Candidate Name</th>
         <th>Download Link</th>
         <th>Action</th>
      </tr>
   </thead>

   <tbody>
      <% @datams.each do |datam| %>

         <tr>
            <td><%= datam.name %></td>
            <td><%= link_to "Download", datam.attachment_url %></td>
            <td><%= link_to "Delete",  datam, method: :delete, confirm: "Are you sure you want to delete #{datam.name}?" %></td>
         </tr>

      <% end %>
   </tbody>

</table>
</div>
